<div class="wrapper">
  <!-- ends topHeader -->
  <div id="middleBox">
    <div class="details">
      <div class="work">
        <h2>Work</h2>
        <p style="text-align: center;">Here are few of my projects.</p>
        <br />
        <a
          class="my-button"
          href="mailto:gabewebdevelopment@gmail.com"
          style="margin-right: 9%;"
          >Email Me</a
        >
      </div>
    </div>
  </div>

  <!---------- exoticwoodpen, image on left text on right ---------->
  <section class="info">
    <img src="/assets/images/ewp.jpg" alt="" />
    <div>
      <h2>exoticwoodpen</h2>
      <p>
        An internationally recognized pen turner, and a growing following on
        YouTube. I have been turning pens for over 17 years and in the last
        couple of years, I've sold my Pen Segmenting Videos all over the world
        to hundreds of pen enthuests. 
      </p>
      <br />

      <div class="details">
        <a class="my-button" href="https://www.exoticwoodpen.com">Website</a>
      </div>
    </div>
  </section>
  <!-- ends exoticwoodpen -->

  <!---------- yeatespainting, image on left text on right ---------->
  <section class="info">
    <div>
      <h2>Yeates Painting and Decorating</h2>
      <p>
        30+ years in business,High Desert Painting Contractor. Yeates Painting is
        reliable, trustworthy, prompt and neat and clean. It is a business with
        many repeat customers, we also offer expert color assistance.
      </p>
      <br />

      <div class="details">
        <a class="my-button" href="https://www.yeatespainting.com">Website</a>
      </div>
    </div>
    <img src="/assets/images/door.JPG" alt="" />
  </section> 
  <!-- ends yeatespainting -->
</div>
