<div class="wrapper">
  <!-- ends topHeader -->
  <div id="middleBox">
    <div class="details">
      <div class="work">
        <h2>Work</h2>
        <p style="text-align: center;">Here are few of my projects.</p>
        <br />
        <a
          class="my-button"
          href="mailto:gabewebdevelopment@gmail.com"
          style="margin-right: 9%;"
          >Email Me</a
        >
      </div>
    </div>
  </div>

  <!---------- exoticwoodpen, image on left text on right ---------->
  <section class="info">
    <img src="/assets/images/ewp.jpg" alt="" />
    <div>
      <h2>exoticwoodpen</h2>
      <p>
        An internationally recognized pen turner, and a growing following on
        YouTube. I have been turning pens for over 15 years and in the last
        couple of years, I've sold my Pen Segmenting Videos all over the world
        to hundreds of pen enthuests.
      </p>
      <br />

      <div class="details">
        <a class="my-button" href="https://www.exoticwoodpen.com">Website</a>
      </div>
    </div>
  </section>
  <!-- ends exoticwoodpen -->

  <!---------- Isiah 535, image on right text on left ---------->
  <!-- <section class="info">
    <div>
      <h2>Isiah 53:5</h2>
      <p>
        A Christian Social Media Platform. I wanted to create a family friendly
        environment for you and your church family where you get to know your
        Church members and the skills they have to offer. I wanted to be able to
        tap into the best resources of the Church "it's members", and share
        their passions, hobbies and help them prosper.
      </p>
      <br />

      <div class="details">
        <a class="my-button" href="https://www.isiah535.com">Website</a>
      </div>
    </div>
    <img src="/assets/images/Crusifiction.png" alt="" />
  </section> -->
  <!-- ends isiah -->

  <!---------- yeatespainting, image on left text on right ---------->
  <section class="info">
    <img src="/assets/images/door.JPG" alt="" />
    <div>
      <h2>Yeates Painting and Decorating</h2>
      <p>
        30 years in business,High Desert Painting Contractor. Yeates Painting is
        reliable, trustworthy, prompt and neat and clean. It is a business with
        many repeat customers, we also offer expert color assistance.
      </p>
      <br />

      <div class="details">
        <a class="my-button" href="https://www.yeatespainting.com">Website</a>
      </div>
    </div>
  </section>
  <!-- ends yeatespainting -->
</div>
