<div class="wrapper">
  <div class="keyboard">
    <img id="image" src="/assets/images/keyBoard.jpg" width="100%" />
  </div>
  <!---------- design image on right text on left ---------->
  <section class="info">
    <div>
      <h2>Web Design</h2>
      <ol>
        <li>
          To start the process of designing a website: Start with a call or
          email me to schedule an appointment near Victorville or Inland Empire.
          If a physical appointment is not necessary we can chat about your
          vison.
        </li>

        <li>
          I will produce a written quote based on your vision and amount of
          revisions.
        </li>

        <li>
          I will produce a design concept of your website before any coding is
          done and you are happy with the design.
        </li>
      </ol>
      <br />

      <h2>Web Development</h2>
      <p>
        Progamming Knowledge of Python, Html5, CSS3, JavaScript, PHP, MySQL, and
        (SEO) Search Engine Optimization to help your clients find you on the
        web.
      </p>

      <ol>
        <li>I will program your website using code that is easy to read.</li>
        <li>
          I test the code in my web browser to be sure everything flows and
          reads correctly.
        </li>
        <li>
          I design for mobile devices first then the computer last since most
          transactions are cell phone driven.
        </li>
        <li>I stand behind my coding and product that I release to you.</li>
        <li>
          You will get a email of all the coding files that you have from your
          website design.
        </li>
      </ol>
      <br />

      <h2>Wordpress</h2>
      <p>
        I can design in <strong>Wordpress</strong> if you need a website more
        quickly if necessary, I am also happy to maintain your current Wordpress
        website of you do not have the time to do so.
      </p>
    </div>
    <img src="/assets/images/design.png" alt="" />
  </section>
  <!-- ends design -->
</div>
