<!-- gif/circle image -->
<div class="about">
  <img class="img-circle" src="/assets/images/gabe.png" alt="headshot" />
  <div class="details"></div>
  <h2>Gabe Castro Web Development</h2>
</div>

<div class="content">
  <h2>The Website Development Process and Basic Languanges Used.</h2>
  <p>
    With half the world population online and using the internet, our goal is to
    help bring the world to your <strong>Web Site</strong> thru interaction with
    your favorite <strong>Social Media</strong> platforms and
    <strong>SEO</strong> Search Engine Optimization to help your market your
    internet business.
  </p>
  <br />

  <h2>Web Design</h2>
  <p>
    A striking and well organized web page layout will greately enhance your
    appeal to your target audience. At frist glance you neet to capture your
    potential customer and communicate your products and services in seconds.
  </p>
  <br />

  <h2>Need help building a web site or updating your site?</h2>
  <p>
    Make note of what you feel works well and what falls short, and then
    identify your goals for what you’d like to include in your site. You can
    worry about how to achieve those goals later.<br />

    Building a site isn't easy, and neither is conceptualizing one. Professional
    web developers often have help from clients who can share their visions of
    what the site should be, but even then, a lot of employers tend to rely on
    developer insight. This back and forth between client and developer is often
    referred to as agile development. You'll need to be able to figure out the
    functions, necessary features, overall appearance and theme, site navigation
    options, interface layout, and amount of content you'll need— to name a few.
  </p>
</div>
<!--ends content -->
